body.cs-plugin {

	--cs-code-background-colour: var(--code-background);
	--cs-code-parameters-colour: var(--code-comment);
	--cs-code-colour: var(--code-normal);
	--cs-code-fence-radius: 30px;
	--cs-code-inline-radius: 10px;
	--cs-title-color: gray;
	--cs-title-weight: 400;
	--cs-language-title-color: gray;
	--cs-language-title-weight: 800;
	--cs-code-gutter-background-color: crimson;
	--cs-code-gutter-color: black;
	--cs-code-header-background-color: black;
	--cs-code-header-color: black;
	--cs-header-separator-color: green;

	--cs-language-icon-size: 2em;

}
