body.cs-plugin {
	--cs-language-border-header-colour: var(--cs-fence-header-language-title-background-colour);
	--cs-language-border-separator-colour: var(--cs-fence-header-separator-background-colour);
	--cs-language-border-gutter-colour: var(--cs-fence-gutter-background-colour);
}


body.cs-plugin{
	--cs-fence-gutter-active-text-colour: var(--code-normal);

	--cs-fence-highlights-active-line-colour: var(--background-modifier-hover);
	--cs-fence-highlights-default-highlight-colour: var(--text-highlight-bg);
	--cs-fence-highlights-gradient-highlights-colour-stop: 30%;
}
