/** Pre elements */
.code-styler-pre-parent{
	margin-bottom: 16px;
}
.code-styler pre.code-styler-pre {
	background: var(--code-styler-codeblock-background-colour) !important;
	border-radius: var(--border-radius) !important;
	min-height: unset;
	padding: 0px !important;
	overflow: hidden !important;
}
.code-styler pre.code-styler-pre[class*='language-'] {
	background: linear-gradient(90deg, var(--language-border-colour), var(--language-border-colour) var(--language-border-width), var(--code-styler-codeblock-background-colour) var(--language-border-width), var(--code-styler-codeblock-background-colour) 100%) !important;
	padding-left: var(--language-border-width) !important;
}
.code-styler code {
	padding-top: var(--code-padding) !important;
	padding-bottom: var(--code-padding) !important;
}
.code-styler pre.code-styler-pre code {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: auto;
	padding-top: var(--code-padding) !important;
	padding-bottom: var(--code-padding) !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	border-radius: 0px !important;
	background: none !important;
	transition: max-height ease-in-out var(--duration-button), padding ease-in-out var(--duration-button), border-top ease-in-out var(--duration-button);
	max-height: 0;
	overflow-x: overlay;
	/* scrollbar-gutter: stable; */
}
.code-styler pre.code-styler-pre code:not(:has( > input[style*="display: inline;"])):active {
	--line-wrapping: var(--line-active-wrapping) !important;
}
.code-styler pre.code-styler-pre.code-styler-collapsed code {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.code-styler pre.code-styler-pre::before,
.code-styler pre.code-styler-pre::after {
	content: none !important;
}
.markdown-source-view.mod-cm6 .cm-embed-block pre.code-styler-pre {
	margin: 1em 0px;
}

/** Editing Mode Body */
.code-styler .markdown-source-view [class*="code-styler-line"].HyperMD-codeblock-begin {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-top: none !important;
}
.code-styler .markdown-source-view [class*="code-styler-line"].HyperMD-codeblock-end {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}
body:not(.code-styler-show-langicons-always):not(.code-styler-show-langnames-always) .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container + .HyperMD-codeblock-begin,
body:not(.code-styler-show-langnames-always) .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container:not(:has( img.code-styler-icon)) + .HyperMD-codeblock-begin,
body .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container:not(:has([class*='code-styler-header-language-tag-'])) + .HyperMD-codeblock-begin,
body .markdown-source-view :not([class^='code-styler-header-container']) + [class*="code-styler-line"].HyperMD-codeblock-begin,
body .markdown-source-view [class*="code-styler-line"].HyperMD-codeblock-begin:nth-of-type(1) { /*? Depending on header visibility */
	border-top-left-radius: var(--border-radius) !important;
	border-top-right-radius: var(--border-radius) !important;
}
.code-styler .markdown-source-view .HyperMD-codeblock[class*='code-styler-line'] {
	background: linear-gradient(90deg, var(--gradient-background-colour) var(--gradient-highlights-colour-stop), transparent 100%), var(--code-styler-codeblock-background-colour) !important;
	overflow: hidden;
	padding: 0 !important;
	padding-left: var(--size-4-4) !important;
}
.code-styler .markdown-source-view .HyperMD-codeblock[class*='code-styler-line'][class*='language-'] {
	background: linear-gradient(90deg, var(--language-border-colour), var(--language-border-colour) var(--language-border-width), var(--gradient-background-colour) var(--language-border-width) var(--gradient-highlights-colour-stop), transparent 100%), var(--code-styler-codeblock-background-colour) !important;
}
.code-styler .markdown-source-view .HyperMD-codeblock[class*='code-styler-line'][class*='language-'] [class^='code-styler-line-number'] {
	margin-left: var(--language-border-width);
}

/** Header styling */
body:not([class*='code-styler-show-langicons']) .code-styler-header-container-specific div:has(> img.code-styler-icon),
body:not(.code-styler-show-langicons-always) .code-styler-header-container div:has(> img.code-styler-icon) {
	display: none;
}
body:not([class*='code-styler-show-langnames']) .code-styler-header-container-specific [class^="code-styler-header-language-tag"],
body:not(.code-styler-show-langnames-always) .code-styler-header-container [class^="code-styler-header-language-tag"] {
	display: none;
}
body:not(.code-styler-show-langicons-always):not(.code-styler-show-langnames-always) .code-styler-header-container,
body:not(.code-styler-show-langnames-always) .code-styler-header-container:not(:has( img.code-styler-icon)) {
	display: none !important;
}
body .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container:not([class*='language-']),
body pre.code-styler-pre:not([class*='language-']) .code-styler-header-container {
	display: none !important;
}
[class^='code-styler-header-container'] {
	font-size: var(--header-font-size);
	user-select: none;
	height: var(--container-height);
	min-height: var(--container-min-height);
	padding-top: var(--header-padding);
	margin-top: 0px !important;  
	display: flex !important;
	overflow: visible;
	transition: border-bottom ease-in-out var(--duration-button);
	box-sizing: content-box;
}
.markdown-source-view :not(pre.code-styler-pre) > [class^='code-styler-header-container'] {
	background: linear-gradient(var(--code-styler-header-background-colour) 0%,var(--code-styler-header-background-colour) calc(100% - var(--header-separator-width)), var(--code-styler-header-separator-colour) calc(100% - var(--header-separator-width)), var(--code-styler-header-separator-colour) 100%) var(--language-border-width) bottom/100% border-box no-repeat,var(--language-border-colour) !important;
	padding-left: var(--language-border-width);
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding-bottom: var(--header-separator-width);
	border-top: var(--code-styler-header-border);
	border-left: var(--code-styler-header-border);
	border-right: var(--code-styler-header-border);
}
pre.code-styler-pre [class^='code-styler-header-container'] {
	background-color: var(--code-styler-header-background-colour);
	border-bottom: var(--header-separator-width) solid var(--code-styler-header-separator-colour);
}
.markdown-source-view :not(pre.code-styler-pre) > [class^='code-styler-header-container']:not(:has(+ .HyperMD-codeblock-begin)) {
	background: linear-gradient(var(--code-styler-header-background-colour) 0%,var(--code-styler-header-background-colour) 100%) var(--language-border-width) bottom/100% border-box no-repeat,var(--language-border-colour) !important;
	padding-bottom: var(--header-padding);
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	border-bottom: var(--code-styler-header-border);
	border-bottom: var(--collapsed-bottom-border);
}
pre.code-styler-pre.code-styler-collapsed [class^='code-styler-header-container'] {
	border-bottom: var(--collapsed-bottom-border);
}
[class^='code-styler-header-container'] [class^="code-styler-header-language-tag"] {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100%;
	padding-left: var(--header-spacing);
	padding-right: var(--header-spacing);
	margin-right: var(--header-spacing);
	padding-top: calc(1em * var(--header-inner-vertical-padding));
	padding-bottom: calc(1em * var(--header-inner-vertical-padding));
	font-size: inherit;
	border-radius: var(--border-radius) var(--border-radius) 0px 0px;
	background-color: var(--code-styler-header-language-tag-background-colour);
	color: var(--code-styler-header-language-tag-text-colour);
	font-weight: var(--code-styler-header-language-tag-text-bold, normal);
	font-style: var(--code-styler-header-language-tag-text-italic, normal);
	text-align: center;
	transition: border-radius ease-in-out var(--duration-button), padding ease-in-out var(--duration-button);
}
.markdown-source-view :not(pre.code-styler-pre) > [class^='code-styler-header-container']:not(:has(+ .HyperMD-codeblock-begin)) [class^="code-styler-header-language-tag"],
pre.code-styler-pre.code-styler-collapsed [class^='code-styler-header-container'] [class^="code-styler-header-language-tag"] {
	border-radius: var(--border-radius);
}
.code-styler-header-text {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding-left: 0px;
	padding-top: calc(1em * var(--header-inner-vertical-padding));
	padding-bottom: calc(1em * var(--header-inner-vertical-padding));
	font-size: inherit;
	color: var(--code-styler-header-text-colour);
	font-weight: var(--code-styler-header-title-text-bold, normal);
	font-style: var(--code-styler-header-title-text-italic, normal);
	transition: padding ease-in-out var(--duration-button);
}
body:not([class*='code-styler-show-langicons']) .code-styler-header-container-specific [class^="code-styler-header-language-tag"],
body:not(.code-styler-show-langicons-always) .code-styler-header-container [class^="code-styler-header-language-tag"],
body .code-styler-header-container-specific:not(:has( div > img.code-styler-icon)) [class^="code-styler-header-language-tag"] { /*? Depending on header visibility */
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
body:not([class*='code-styler-show-langicons']):not([class*='code-styler-show-langnames']) .code-styler-header-container-specific .code-styler-header-text,
body:not(.code-styler-show-langicons-always):not(.code-styler-show-langnames) .code-styler-header-container .code-styler-header-text,
body .code-styler-header-container-specific:not(:has( [class^="code-styler-header-language-tag-"])) .code-styler-header-text { /*? Depending on header visibility */
	padding-left: var(--header-spacing);
}
div:has(> img.code-styler-icon) {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	padding-top: calc(1em * var(--header-inner-vertical-padding));
	padding-bottom: calc(1em * var(--header-inner-vertical-padding));
	padding-left: var(--header-spacing);
	padding-right: var(--header-spacing);
	transition: padding ease-in-out var(--duration-button);
}
.code-styler-icon {
	width: var(--language-icon-size);
	height: var(--language-icon-size);
	filter: var(--language-icon-filter);
	margin: 0 !important;
	border: none !important;
}

/** Lines */
pre.code-styler-pre [class^='code-styler-line-highlighted'] > .code-styler-line-text {
	background-image: linear-gradient(90deg, var(--gradient-background-colour) 0% var(--gradient-highlights-colour-stop), var(--code-styler-codeblock-background-colour) 100%);
}
.code-styler-line-highlighted {
	--gradient-background-colour: var(--code-styler-default-highlight-colour) !important;
}
.code-styler-active-line-highlight .cm-active,
.code-styler-active-line-highlight-editor .cm-active {
	background: linear-gradient(to right, var(--code-styler-active-editor-line-colour), var(--gradient-highlights-colour-stop), transparent) !important;
}
.code-styler-active-line-highlight .markdown-source-view .HyperMD-codeblock[class*="code-styler-line"].cm-active,
.code-styler-active-line-highlight-codeblock .markdown-source-view .HyperMD-codeblock[class*="code-styler-line"].cm-active {
	background: linear-gradient(to right, var(--code-styler-active-codeblock-line-colour), var(--gradient-highlights-colour-stop), var(--code-styler-codeblock-background-colour)) !important;
}

/** Line numbers */
.code-styler:not(.code-styler-show-line-numbers) .code-styler-line-number,
.code-styler-line-number-hide {
	display: none;
}
pre.code-styler-pre > code > div:first-child > [class^='code-styler-line-number'] { /*? Maintain gutter colour when padded */
	box-shadow: 0px calc(-1 * var(--code-padding)) var(--code-styler-gutter-background-colour);
	transition: box-shadow ease-in-out var(--duration-button);
}
pre.code-styler-pre.code-styler-collapsed > code > div:first-child > [class^='code-styler-line-number'] { /*? Maintain gutter colour when padded */
	box-shadow: 0px 0px var(--code-styler-gutter-background-colour);
}
pre.code-styler-pre > code > div:last-child > [class^='code-styler-line-number'] { /*? Maintain gutter colour when padded */
	box-shadow: 0px var(--code-padding) var(--code-styler-gutter-background-colour);
}
pre.code-styler-pre > code > div:only-child > [class^='code-styler-line-number'] { /*? Maintain gutter colour when padded */
	box-shadow: 0px calc(-1 * var(--code-padding)) var(--code-styler-gutter-background-colour),0px var(--code-padding) var(--code-styler-gutter-background-colour);
}
[class^='code-styler-line-number'] {
	padding-left: calc(4px + var(--language-border-width));
	padding-right: 8px;
	text-align: right;
	min-width: var(--line-number-gutter-min-width);
	background-color: var(--code-styler-gutter-background-colour);
	font-size: var(--code-size);
	font-family: var(--font-monospace);
	color: var(--code-styler-gutter-text-colour);
	user-select: none;
}
.markdown-source-view .HyperMD-codeblock .code-styler-line-number,
.markdown-source-view .HyperMD-codeblock .code-styler-line-number-specific {
	padding-top: var(--line-number-height-correction);
	position: absolute;
	box-sizing: content-box;
	display: inline-block;
	height: 100%;
	min-width: calc(var(--line-number-gutter-min-width) - 12px);
	overflow-x: auto;
	direction: rtl;
	left: 0;
}
.markdown-source-view .HyperMD-codeblock-begin .code-styler-line-number,
.markdown-source-view .HyperMD-codeblock-begin .code-styler-line-number-specific,
.markdown-source-view .HyperMD-codeblock-end .code-styler-line-number,
.markdown-source-view .HyperMD-codeblock-end .code-styler-line-number-specific {
	width: var(--line-number-gutter-width);
}
pre.code-styler-pre [class^='code-styler-line-number'] {
	white-space: nowrap;
	grid-column: 1;
	position: sticky;
	top: -1px;
	left: 0;
	border-top: var(--line-number-height-correction) solid transparent;
}
pre.code-styler-pre div:last-child > [class^='code-styler-line-number'] {
	width: unset;
}
.code-styler-gutter-highlight pre.code-styler-pre [class*="code-styler-line-highlighted"] [class^='code-styler-line-number'] {
	background-color: var(--gradient-background-colour);
}
.code-styler-active-line-highlight.code-styler-gutter-highlight .markdown-source-view .HyperMD-codeblock[class*="code-styler-line"].cm-active [class^='code-styler-line-number'],
.code-styler-active-line-highlight-codeblock.code-styler-gutter-highlight .markdown-source-view .HyperMD-codeblock[class*="code-styler-line"].cm-active [class^='code-styler-line-number'],
.code-styler-gutter-highlight [class*="code-styler-line-highlighted"] [class^='code-styler-line-number'] {
	background-color: rgba(0,0,0,0);
}
.code-styler-gutter-active-line .cm-active [class^='code-styler-line-number']{
	color: var(--code-styler-gutter-active-text-colour);
}
.code-styler.code-styler-show-line-numbers .markdown-source-view .HyperMD-codeblock:has(.code-styler-line-number),
.code-styler.code-styler-show-line-numbers .markdown-source-view .HyperMD-codeblock:has(.code-styler-line-number-specific) {
	padding-left: calc(12px + var(--language-border-width) + var(--line-number-gutter-width) + var(--line-number-gutter-padding)) !important;
}
.code-styler .markdown-source-view .HyperMD-codeblock[class*='code-styler-line']::before {
	content: none !important;
}

/** Line text */
pre.code-styler-pre > code > div[class*='code-styler-line'] {
	display: contents !important;
}
pre.code-styler-pre .code-styler-line-text {
	flex-basis: 100%;
	padding-left: var(--line-number-gutter-padding);
	grid-column: 2;
}
.HyperMD-codeblock:has(> .cm-widgetBuffer) { /*? Prevent Line Wraps */
	white-space: nowrap;
}
.HyperMD-codeblock:has(> .cm-widgetBuffer) > .cm-hmd-codeblock { /*? Prevent Line Wraps */
	white-space: break-spaces;
}

/** Scroll Bar */
pre.code-styler-pre::-webkit-scrollbar,
pre.code-styler-pre > code::-webkit-scrollbar {
	width: var(--code-padding) !important;
	height: var(--code-padding) !important;
}

/** Buttons */
@keyframes outdent {
	from {
		margin-right: calc(var(--copy-code-header-right-margin) - var(--dent-difference));
		clip-path: var(--polygon-in);
	}
	to {
		margin-right: var(--copy-code-header-right-margin);
		clip-path: var(--polygon-out);
	}
}
@keyframes indent {
	from {
		margin-right: var(--copy-code-header-right-margin);
		clip-path: var(--polygon-out);
	}
	to {
		margin-right: calc(var(--copy-code-header-right-margin) - var(--dent-difference));
		clip-path: var(--polygon-in);
	}
}
@keyframes reverse-outdent {
	from {
		clip-path: var(--polygon-in);
	}
	to {
		clip-path: var(--polygon-out);
	}
}
@keyframes reverse-indent {
	from {
		clip-path: var(--polygon-out);
	}
	to {
		clip-path: var(--polygon-in);
	}
}
.markdown-rendered pre.code-styler-pre button {
    transition: visibility var(--duration-button), opacity var(--duration-button);
	visibility: visible;
	opacity: 1;
	display: unset !important;
	color: var(--code-styler-button-colour) !important;
	background: transparent !important;
	box-shadow: none;
	font-family: var(--font-interface);
	font-size: var(--font-ui-smaller);
	margin: 0;
	padding: 0 !important;
	border: none !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
pre.code-styler-pre:not(.code-styler-collapsed):not(:hover) button,
pre.code-styler-pre.code-styler-collapsed button,
pre.code-styler-pre:not(.code-styler-collapsed):not(:hover) [class^='code-styler-header-container']::after {
	visibility: hidden;
	opacity: 0
}
[class^='code-styler-header-container']::after {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-right: var(--header-button-spacing);
	content: "\200b";
	width: 20px;
	height: 20px;
	background-color: var(--code-styler-button-colour);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cpath d='M16 22 6 12l1.4-1.4 8.6 8.6 8.6-8.6L26 12z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
	mask-repeat: no-repeat;
	visibility: visible;
	opacity: 1;
	scale: 0.8;
    transition: transform var(--duration-button) ease-out, visibility var(--duration-button), opacity var(--duration-button), scale var(--duration-button) cubic-bezier(0.4, 0.14, 0.3, 1);
}
pre.code-styler-pre.code-styler-collapsed [class^='code-styler-header-container']::after,
.markdown-source-view :not(pre.code-styler-pre) > [class^='code-styler-header-container']:not(:has(+ .HyperMD-codeblock-begin))::after {
	transform: rotate(-90deg);
}
[class^='code-styler-header-container']:hover::after {
	scale: 1;
}
body:not(.code-styler-show-langicons-always):not(.code-styler-show-langnames-always) pre.code-styler-pre:has( .code-styler-header-container) button.copy-code-button,
body:not(.code-styler-show-langnames-always) pre.code-styler-pre:not(:has( .code-styler-header-container-specific)):not(:has( .code-styler-header-container img.code-styler-icon)) button.copy-code-button,
body pre.code-styler-pre:not([class*='language-']):has(.code-styler-header-container) button.copy-code-button { /*? Depending on header visibility */
	top: calc(0.5 * var(--font-text-size) * 0.875 * var(--line-height-normal)) !important;
	--copy-code-header-right-margin: 12px;
}
body:not(.code-styler-show-langicons-always):not(.code-styler-show-langnames-always) .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container + .HyperMD-codeblock-begin,
body:not(.code-styler-show-langnames-always) .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container:not(:has( img.code-styler-icon)) + .HyperMD-codeblock-begin,
body .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container:not(:has([class*='code-styler-header-language-tag-'])) + .HyperMD-codeblock-begin { /*? Depending on header visibility */
	overflow: hidden;
}
body:not(.code-styler-show-langicons-always):not(.code-styler-show-langnames-always) .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container + .HyperMD-codeblock-begin span.code-block-flair,
body:not(.code-styler-show-langnames-always) .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container:not(:has( img.code-styler-icon)) + .HyperMD-codeblock-begin span.code-block-flair,
body .markdown-source-view :not(pre.code-styler-pre) > .code-styler-header-container:not(:has([class*='code-styler-header-language-tag-'])) + .HyperMD-codeblock-begin span.code-block-flair { /*? Depending on header visibility */
	top: calc(0.5 * var(--font-text-size) * 0.875 * var(--line-height-normal)) !important;
	--copy-code-header-right-margin: 12px;
}
pre.code-styler-pre button.copy-code-button {
	transform: translateY(-50%);
	top: max(calc(0.5 * var(--container-height) * 1),calc(0.5 * var(--container-min-height) * 1)) !important;
	bottom: unset !important;
}
pre.code-styler-pre button.copy-code-button,
pre.code-styler-pre button.run-code-button, /*? Execute Code Plugin Compatibility */
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair {
	margin-right: calc(var(--copy-code-header-right-margin) - var(--dent-difference));
	will-change: margin-right, clip-path;
	clip-path: var(--polygon-in);
}
pre.code-styler-pre button.copy-code-button:not(:active),
pre.code-styler-pre button.run-code-button:not(:active), /*? Execute Code Plugin Compatibility */
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair:not(:active) {
	animation: indent var(--duration-button);
}
pre.code-styler-pre button.copy-code-button:hover,
pre.code-styler-pre button.run-code-button:hover, /*? Execute Code Plugin Compatibility */
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair:hover{
	background-color: transparent;
	animation: outdent var(--duration-button);
	margin-right: var(--copy-code-header-right-margin);
	clip-path: var(--polygon-out);
}
pre.code-styler-pre button.copy-code-button:active,
pre.code-styler-pre button.run-code-button:active, /*? Execute Code Plugin Compatibility */
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair:active {
	scale: 0.95;
	transition: scale var(--duration-button) cubic-bezier(0.4, 0.14, 0.3, 1);
}
pre.code-styler-pre button.copy-code-button::before,
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair::before {
	content: "\200b";
	display: inline-block;
	width: 14px;
	height: 14px;
	padding-right: 4px;
	background-color: var(--code-styler-button-colour);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M28 10v18H10V10h18m0-2H10a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2Z'/%3E%3Cpath d='M4 18H2V4a2 2 0 0 1 2-2h14v2H4Z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M28 10v18H10V10h18m0-2H10a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2Z'/%3E%3Cpath d='M4 18H2V4a2 2 0 0 1 2-2h14v2H4Z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	mask-repeat: no-repeat;
	vertical-align: 1px;
}
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair {
	transform: translateY(-50%);
	font-size: 0;
	top: min(calc(-0.5 * var(--container-height) * 1.1 - var(--header-separator-width)),calc(-0.5 * var(--container-min-height) * 1.1 - var(--header-separator-width))) !important;
	right: 0;
	visibility: hidden;
	padding: 0;
	position: absolute;
	line-height: initial !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair > * {
	width: 0px;
}
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair::before {
	visibility: visible;
	opacity: 1;
	vertical-align: -1px;
	font-size: var(--font-ui-smaller);
}
.markdown-source-view.mod-cm6 .HyperMD-codeblock.code-styler-line span.code-block-flair::after {
	visibility: visible;
	opacity: 1;
	font-size: var(--font-ui-smaller);
	content: 'Copy';
	color: var(--code-styler-button-colour);
}
.markdown-source-view.mod-cm6 .HyperMD-codeblock-begin.code-styler-line {
	overflow: visible;
}
