/** Define CSS Variables */
body {

	--code-styler-inline-font-weight: 400;
	--code-styler-inline-title-font-weight: 800;

	--code-styler-inline-colour: var(--code-normal);
	--cs-code-parameters-colour: var(--code-comment);
	--code-styler-inline-background-colour: var(--code-background);
}

// --cs-code-background-colour: var(--code-background);
// --cs-code-colour: var(--code-background);
// --cs-code-fence-radius: 10px;

body.cs-plugin {
	--cs-code-inline-radius: 10px;

	--cs-code-background-colour: red;

	span.cs-header {
		display: inline;

		&.cm-inline-code {
			padding-left: 0.25em; // Obsidian default value
			padding-right: 0px;
			border-radius: var(--cs-code-inline-radius) 0px 0px var(--cs-code-inline-radius) !important;
		}

		~ span.cm-inline-code:not(.cs-footer) {
			padding-left: 0px !important;
			padding-right: 0px !important;
			border-radius: 0px !important;
		}

		> span:not(:first-child):not(.cs-separator) {
			margin-left: 0.5em
		}

		> span.cs-icon-container {
			display: inline-block;
			vertical-align: text-top;
			width: 1.1em;
		}

		> span.cs-icon-container > img.cs-icon:not([class*="emoji"]) {
			display: inline;
			width: auto;
			margin: unset;
		}

		span.cs-title {
			color: var(--code-styler-inline-title-colour);
			font-weight: var(--code-styler-inline-title-font-weight);
		}

		span.cs-language-title {
			color: var(--code-styler-inline-language-title-colour);
			font-weight: var(--code-styler-inline-language-title-font-weight);
		}

		span.cs-separator {
			color: var(--code-styler-inline-title-color);
		}

		span.cs-parameters {
			color: var(--cs-code-parameters-colour)
		}
	}

	span.cs-footer {
		&.cm-inline-code {
			padding-left: 0px;
			padding-right: 0.25em; // Obsidian default value
			border-radius: 0px var(--cs-code-inline-radius) var(--cs-code-inline-radius) 0px !important;
		}
	}

	span.cs-inline-parameters {
		color: var( --code-styler-inline-colour-parameters);
	}

	// Overwrite Obsidian Defaults
	.cm-s-obsidian span.cm-inline-code {
		color: var(--cs-code-colour);
		background-color: var(--cs-code-background-colour);

		span.cm-inline-code {
			&.cm-hmd-indented-code {
				background-color: transparent;
			}

			&:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
				background-color: var(--cs-code-background-colour);
			}
		}

		&:not(.cm-formatting) {
			border-radius: var(--cs-code-inline-radius);
		}

		&.cm-formatting {
			border-start-start-radius: var(--cs-code-inline-radius);
			border-end-start-radius: var(--cs-code-inline-radius);
		}

		&:not(.cm-formatting) + .cm-formatting.cm-inline-code {
			border-start-end-radius: var(--cs-code-inline-radius);
			border-end-end-radius: var(--cs-code-inline-radius);
		}
	}

	// Specific Corrections
	tr code.cs-code-inline {
		white-space: normal;
	}

	.reveal img.cs-icon {
		margin: inherit;
	}
}

body.cs-plugin {
	.cs-code-inline {
		// .cm-s-obsidian span.cm-inline-code,
		// .markdown-rendered :not(pre) > code:not([class*="blur"]),
		// .reveal :not(pre) > code:not([class*="blur"]),
		// code.cs-settings {
		// 	padding: var(--code-styler-inline-padding-vertical) var(--code-styler-inline-padding-horizontal) !important;
		// 	border-radius: var(--code-styler-inline-border-radius) !important;
		// 	margin: 0px var(--code-styler-inline-margin-horizontal) !important;
		// 	background-color: var(--code-styler-inline-background-colour) !important;
		// 	color: var(--code-styler-inline-colour);
		// 	font-weight: var(--code-styler-inline-font-weight);
		// }
	}

	.cm-s-obsidian {
		// span.cm-formatting-code { // Standalone backticks
		// 	display: inline !important;
		// 	color: var(--code-styler-inline-colour-active);
		// }

		// span.cs-header ~ span.cm-inline-code:not(.cm-formatting-code) {
		// 	// padding-left: 0px !important;
		// 	// border-radius: 0px var(--code-styler-inline-border-radius) var(--code-styler-inline-border-radius) 0px !important;
		// 	// margin-left: 0px !important;
		// }

		// span.cs-header,
		// span.cm-formatting-code:has(+ span.cm-inline-code:not(.cm-formatting-code)) { // First backtick
		// 	// padding-right: 0px !important;
		// 	// padding-left: var(--code-styler-inline-padding-horizontal) !important;
		// 	// border-radius: var(--code-styler-inline-border-radius) 0px 0px var(--code-styler-inline-border-radius) !important;
		// 	// margin-right: 0px !important;
		// 	// margin-left: var(--code-styler-inline-margin-horizontal) !important;
		// 	color: var(--code-styler-inline-colour-active);
		// }

		// span.cm-inline-code:not(.cm-formatting-code) + span.cm-formatting-code {// Last backtick
		// 	// padding-right: var(--code-styler-inline-padding-horizontal) !important;
		// 	// padding-left: 0px !important;
		// 	// border-radius: 0px var(--code-styler-inline-border-radius) var(--code-styler-inline-border-radius) 0px !important;
		// 	// margin-right: var(--code-styler-inline-margin-horizontal) !important;
		// 	// margin-left: 0px !important;
		// 	color: var(--code-styler-inline-colour-active);
		// }

		// span.cm-inline-code .code-styler-inline-parameters {
		// 	color: var(--code-comment);
		// }
	}


	span.cs-header {

		// > span.cs-icon-container:has( > img.cs-icon:not([class*="emoji"])):not(.cs-hidden) ~ span {
		// 	&.cs-title,
		// 	&.cs-language-title {
		// 		margin-left: 0.5em,
		// 	}
		// }

		// span:has( > img.code-styler-inline-icon) {
		// 	padding-right: 8px;
		// }

	}
}
