body.cs-plugin {

	.markdown-rendered :not(pre) > code:not([class*="blur"]) {
		display: inline;
		border-radius: var(--cs-inline-curvature);
		color: var(--cs-inline-text-colour);
		background-color: var(--cs-inline-background-colour);

		span.cm-inline-code {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	span.cm-formatting.cm-inline-code ~ span.cs-header {
		border-radius: 0px !important;
	}

	span.cs-header {
		display: inline;
		user-select: none;
		background-color: --cs-inline-header-background-colour;

		&.cm-inline-code {
			padding-left: 0.25em; // Obsidian default value
			padding-right: 0px;
			border-radius: var(--cs-inline-curvature) 0px 0px var(--cs-inline-curvature) !important;
		}

		~ span.cm-inline-code:not(.cs-footer) {
			padding-left: 0px !important;
			padding-right: 0px !important;
			border-radius: 0px !important;
		}

		> span:not(:first-child):not(.cs-separator) {
			margin-left: 0.5em
		}

		> span.cs-icon-container {
			display: inline-block;
			vertical-align: text-top;
			width: 1.1em;
			margin-left: 0.5em;
		}

		> span.cs-icon-container > img.cs-icon:not([class*="emoji"]) {
			display: inline;
			width: var(--cs-inline-header-icon-size);
			height: var(--cs-inline-header-icon-size);
			margin: unset;
			filter: var(--cs-inline-header-icon-gray-scale)
		}

		span.cs-named-title {
			background-color: var(--cs-inline-header-named-title-background-colour);
			color: var(--cs-inline-header-named-title-text-colour);
			font-weight: var(--cs-inline-header-named-title-font-weight);
			font-style: var(--cs-inline-header-named-title-font-style);
			font-family: var(--cs-inline-header-named-title-font-family);
		}

		span.cs-language-title {
			background-color: var(--cs-inline-header-language-title-background-colour);
			color: var(--cs-inline-header-languaage-title-text-colour);
			font-weight: var(--cs-inline-header-language-title-font-weight);
			font-style: var(--cs-inline-header-language-title-font-style);
			font-family: var(--cs-inline-header-language-title-font-family);
		}

		span.cs-external-reference {
			background-color: var(--cs-inline-header-external-reference-title-background-colour);
			color: var(--cs-inline-header-external-reference-title-text-colour);
			font-weight: var(--cs-inline-header-external-reference-title-font-weight);
			font-style: var(--cs-inline-header-external-reference-title-font-style);
			font-family: var(--cs-inline-header-external-reference-title-font-family);

			.cs-external-reference-repository,
			.cs-external-reference-repository-icon {
				color: var(--cs-inline-header-external-reference-title-repository-colour);
			}

			.cs-external-reference-version,
			.cs-external-reference-version-icon {
				color: var(--cs-inline-header-external-reference-title-version-colour);
			}

			.cs-external-reference-timestamp,
			.cs-external-reference-timestamp-icon {
				color: var(--cs-inline-header-external-reference-title-timestamp-colour);
			}
		}

		span.cs-execute-code-title {
			background-color: var(--cs-inline-header-execute-code-title-background-colour);
			color: var(--cs-inline-header-execute-code-title-text-colour);
			font-weight: var(--cs-inline-header-execute-code-title-font-weight);
			font-style: var(--cs-inline-header-execute-code-title-font-style);
			font-family: var(--cs-inline-header-execute-code-title-font-family);
		}

		span.cs-separator {
			color: var(--cs-inline-header-separator-background-colour);
		}
	}

	span.cs-parameters {
		color: var(--cs-inline-parameters-text-colour);
		font-weight: var(--cs-inline-parameters-font-weight);
		font-style: var(--cs-inline-parameters-font-style);
		font-family: var(--cs-inline-parameters-font-family);
	}

	span.cs-footer {
		padding-left: 0.4em !important;

		&.cm-inline-code {
			padding-left: 0px !important;
			padding-right: 0.25em; // Obsidian default value
			border-radius: 0px var(--cs-inline-curvature) var(--cs-inline-curvature) 0px !important;
		}

		button.cs-copy-code-button {
			--icon-size: var(--icon-xs);
			padding: 0.15em;
			margin-left: var(--size-4-1);
			background-color: var(--cs-inline-button-inactive-background-colour);
			box-shadow: none;
			height: 100%;
			display: inline-block;
			color: var(--cs-inline-button-inactive-colour);

			transition: opacity, background-color, color;
			transition-duration: var(--cs-transition-length-button);

			> svg {
				display: inline;
				height: 100%;
				vertical-align: text-top;
			}

			&:hover {
				background-color: var(--cs-inline-button-hover-background-colour);
				color: var(--cs-inline-button-hover-colour);
			}

			&:active {
				background-color: var(--cs-inline-button-active-background-colour);
				color: var(--cs-inline-button-active-colour);
			}
		}
	}

	code:not(:hover) span.cs-footer button.cs-copy-code-button {
		// visibility: hidden;
	}

	span.cs-inline-parameters {
		color: var( --code-styler-inline-colour-parameters);
	}

	span.cm-comment {
		span.cs-comment {
			font-size: inherit;
			line-height: inherit;
			padding: 0px !important;
		}
	}

	span.cs-comment {
		box-sizing:initial;

		p {
			display: inline !important;
		}
	}

	// Overwrite Obsidian Defaults
	.cm-s-obsidian span.cm-inline-code {
		color: var(--cs-inline-text-colour);
		background-color: var(--cs-inline-background-colour);

		span.cm-inline-code {
			&.cm-hmd-indented-code {
				background-color: transparent;
			}

			&:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
				background-color: var(--cs-inline-background-colour);
			}
		}

		&:not(.cm-formatting) {
			border-radius: var(--cs-inline-curvature);
		}

		&.cm-formatting {
			border-start-start-radius: var(--cs-inline-curvature);
			border-end-start-radius: var(--cs-inline-curvature);
		}

		&:not(.cm-formatting) + .cm-formatting.cm-inline-code {
			border-start-end-radius: var(--cs-inline-curvature);
			border-end-end-radius: var(--cs-inline-curvature);
		}
	}

	// Specific Corrections
	tr code.cs-code-inline {
		white-space: normal;
	}

	.reveal img.cs-icon {
		margin: inherit;
	}
}
