/** Execute Code Plugin */
pre.code-styler-pre code ~ code.language-output {
	display: block;
	padding-bottom: calc(2.5 * var(--code-padding)) !important;
	padding-left: calc(var(--line-number-gutter-padding)) !important;
	border-top: var(--header-separator-width) solid var(--code-styler-header-separator-colour);
	margin-bottom: 0;
}
pre.code-styler-pre.code-styler-folded code ~ code.language-output {
	border-top-width: 0;
	border-top-color: transparent;
}
pre.code-styler-pre:hover code ~ code.language-output {
	margin-bottom: 0;
}
pre.code-styler-pre code ~ code.language-output input.interactive-stdin {
	padding: 2px 8px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--code-comment);
	border-radius: 5px;
	background-color: var(--code-styler-codeblock-background-colour);
	color: var(--text-normal);
}
pre.code-styler-pre code ~ code.language-output hr {
	display: none;
}
pre.code-styler-pre button.run-code-button {
	--copy-code-header-right-margin: 12px;
	--dent-difference: 24px;
	height: 14px;
	margin-bottom: 6px !important;
}
pre.code-styler-pre.code-styler-folded button.run-code-button {
	top: 500px;
}
pre.code-styler-pre button.run-code-button::before {
	display: inline-block;
	width: 14px;
	height: 14px;
	padding-right: 4px;
	background-color: var(--code-styler-button-colour);
	content: "\200b";
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M7 28a1 1 0 0 1-1-1V5a1 1 0 0 1 1.482-.876l20 11a1 1 0 0 1 0 1.752l-20 11A1 1 0 0 1 7 28Z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M7 28a1 1 0 0 1-1-1V5a1 1 0 0 1 1.482-.876l20 11a1 1 0 0 1 0 1.752l-20 11A1 1 0 0 1 7 28Z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	vertical-align: 0px;
}
pre.code-styler-pre button.clear-button-disabled,
pre.code-styler-pre button.run-button-disabled {
	display: none !important;
}
pre.code-styler-pre button.clear-button {
	height: 14px;
	margin-bottom: 6px !important;
	margin-left: calc(var(--language-border-width) + 12px);
	clip-path: var(--polygon-in);
	will-change: margin-right, clip-path;
}
pre.code-styler-pre button.clear-button::before {
	display: inline-block;
	width: 14px;
	height: 14px;
	padding-right: 4px;
	background-color: var(--code-styler-button-colour);
	content: "\200b";
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16 4 6 14l1.41 1.41L15 7.83V28h2V7.83l7.59 7.58L26 14 16 4z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16 4 6 14l1.41 1.41L15 7.83V28h2V7.83l7.59 7.58L26 14 16 4z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	vertical-align: 0px;
}
pre.code-styler-pre button.clear-button:not(:active) {
	animation: reverse-indent var(--duration-button);
}
pre.code-styler-pre button.clear-button:hover{
	margin-right: var(--copy-code-header-right-margin);
	animation: reverse-outdent var(--duration-button);
	background-color: transparent;
	clip-path: var(--polygon-out);
}
pre.code-styler-pre button.clear-button:active {
	scale: 0.95;
	transition: scale var(--duration-button) cubic-bezier(0.4, 0.14, 0.3, 1);
}
.code-styler-pre-parent.has-run-code-button .load-state-indicator {
	z-index: 10;
	background: none;
	color: none;
}
.code-styler-pre-parent.has-run-code-button .load-state-indicator::before {
	box-shadow: none;
}
.code-styler-pre-parent.has-run-code-button .load-state-indicator svg {
	color: var(--code-styler-button-colour);
}
.code-styler-pre-parent.has-run-code-button .load-state-indicator svg:hover {
	color: var(--code-styler-button-active-colour);
}
.code-styler-pre-parent.has-run-code-button .load-state-indicator.visible {
	transform: translateX(0);
}

/** Embed Code Plugin */
.block-language-preview pre.code-styler-pre code {
	white-space: unset;
}
pre.code-styler-pre span.code-block-line_num-wrap,
pre.code-styler-pre div.code-block-highlight-wrap {
	display: none;
}
.markdown-source-view.mod-cm6 .cm-embed-block .code-styler-pre-parent + .edit-block-button::after {
	padding-left: 4px;
	content: 'Edit Block';
	font-size: var(--font-ui-smaller);
}
.markdown-source-view.mod-cm6 .cm-embed-block:not(:hover) .code-styler-pre-parent + .edit-block-button {
	opacity: 0;
	visibility: hidden;
}
.markdown-source-view.mod-cm6 .cm-embed-block>.code-styler-pre-parent + .edit-block-button {
	--copy-code-header-right-margin: calc(2.2 * var(--header-button-spacing));
	--dent-difference: 0px;
	--polygon-in: polygon(0 0, 18px 0, 18px 36px, 0 36px);
	z-index: 10;
	top: max(calc(0.5 * var(--container-height) * 1),calc(0.5 * var(--container-min-height) * 1));
	padding: 0 !important;
	margin: 0;
	margin-right: calc(var(--copy-code-header-right-margin) - var(--dent-difference));
	background-color: transparent !important;
	clip-path: var(--polygon-in);
	opacity: 1;
	transform: translateY(-50%);
	transition: visibility var(--duration-button), opacity var(--duration-button) !important;
	visibility: visible;
	will-change: margin-right, clip-path;
}
.markdown-source-view.mod-cm6.is-live-preview.is-readable-line-width .cm-embed-block>.code-styler-pre-parent+.edit-block-button {
	width: unset !important;
	padding-left: 0 !important;
}
body .cm-embed-block .code-styler-pre-parent:has( pre.code-styler-pre .code-styler-header-container-hidden) + .edit-block-button {
	--copy-code-header-right-margin: 4px;
	top: calc(0.5 * var(--font-text-size) * 0.875 * var(--line-height-normal));
}
.markdown-source-view.mod-cm6 .cm-embed-block:hover .code-styler-pre-parent + .edit-block-button:hover {
	margin-right: var(--copy-code-header-right-margin);
	animation: reverse-outdent var(--duration-button);
	background: transparent;
	clip-path: var(--polygon-out);
}
.markdown-source-view.mod-cm6 .cm-embed-block:hover .code-styler-pre-parent + .edit-block-button:active {
	scale: 0.95;
	transition: scale var(--duration-button) cubic-bezier(0.4, 0.14, 0.3, 1) !important;
}

/** File Include Plugin */
div.block-language-include pre.code-styler-pre button.copy-code-button {
	margin: 0;
	margin-right: calc(var(--copy-code-header-right-margin) - var(--dent-difference));
}
div.block-language-include pre.code-styler-pre button.copy-code-button:hover {
	margin-right: var(--copy-code-header-right-margin);
}

/** Core Slides Plugin */
.slides button.copy-code-button {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	padding: 6px 8px;
	margin: 6px;
	background-color: transparent;
	box-shadow: none;
	color: var(--text-muted);
	font-family: var(--font-interface);
	font-size: var(--font-ui-smaller);
}
