.setting-item.code-styler-spaced .checkbox-container + .pickr {
	padding-left: 10px;
}
.code-styler-donation {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.code-styler-setting-text-area textarea {
	width: 400px;
	height: 220px;
}
button.code-styler-settings-button.copy-code-button {
    position: absolute;
	right: 0;
    height: auto;
}
