.setting-item.code-styler-spaced .checkbox-container + .pickr {
	padding-left: 10px;
}
.code-styler-donation {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.code-styler-setting-text-area textarea {
	width: 400px;
	height: 220px;
}
.code-styler-setting-text-wide {
	width: 100%;
}
button.code-styler-settings-button.copy-code-button {
	position: absolute;
	right: 0;
	height: auto;
}
code.code-styler-settings-inline-code {
	padding: 0.1em 0.25em;
	border-radius: var(--code-radius);
	background-color: var(--code-background);
	color: var(--code-normal);
	font-family: var(--font-monospace);
	font-size: var(--code-size);
}
p:has(> code.code-styler-settings-inline-code) {
	text-align: center;
}
