:root {
	--terminal-header-colour: var(--text-normal);
}

.code-styler pre.code-styler-pre .code-styler-header-container.code-styler-terminal {
	--code-styler-header-background-colour: var(--terminal-header-colour) !important;
	--code-styler-header-language-tag-background-colour: var(--terminal-header-colour) !important;
}

.code-styler pre.code-styler-pre .code-styler-header-container.code-styler-terminal .code-styler-header-text::before{
    display: block;
    content: "";
    height: 16px;
    width: 16px;
    background: var(--color-red);
    box-shadow: 25px 0 var(--color-orange), 50px 0 var(--color-green);
    position: absolute;
    border-radius: 100vmax;
    top: 0;
    margin: auto;
    left: 14px;
}
